WSClient/web/WEB-INF/wsdl/localhost_17331/NewWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.gradeservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.gradeservice/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.gradeservice/" schemaLocation="http://localhost:17331/NewWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllMarksSQL">
<part name="parameters" element="tns:getAllMarksSQL"/>
</message>
<message name="getAllMarksSQLResponse">
<part name="parameters" element="tns:getAllMarksSQLResponse"/>
</message>
<message name="deleteSubject">
<part name="parameters" element="tns:deleteSubject"/>
</message>
<message name="deleteSubjectResponse">
<part name="parameters" element="tns:deleteSubjectResponse"/>
</message>
<message name="deleteStudentDTO">
<part name="parameters" element="tns:deleteStudentDTO"/>
</message>
<message name="deleteStudentDTOResponse">
<part name="parameters" element="tns:deleteStudentDTOResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="deleteSubjectDTO">
<part name="parameters" element="tns:deleteSubjectDTO"/>
</message>
<message name="deleteSubjectDTOResponse">
<part name="parameters" element="tns:deleteSubjectDTOResponse"/>
</message>
<message name="deleteMark">
<part name="parameters" element="tns:deleteMark"/>
</message>
<message name="deleteMarkResponse">
<part name="parameters" element="tns:deleteMarkResponse"/>
</message>
<message name="deleteMarkDTO">
<part name="parameters" element="tns:deleteMarkDTO"/>
</message>
<message name="deleteMarkDTOResponse">
<part name="parameters" element="tns:deleteMarkDTOResponse"/>
</message>
<message name="getStudentById">
<part name="parameters" element="tns:getStudentById"/>
</message>
<message name="getStudentByIdResponse">
<part name="parameters" element="tns:getStudentByIdResponse"/>
</message>
<message name="updateSubject">
<part name="parameters" element="tns:updateSubject"/>
</message>
<message name="updateSubjectResponse">
<part name="parameters" element="tns:updateSubjectResponse"/>
</message>
<message name="updateStudentDTO">
<part name="parameters" element="tns:updateStudentDTO"/>
</message>
<message name="updateStudentDTOResponse">
<part name="parameters" element="tns:updateStudentDTOResponse"/>
</message>
<message name="updateSubjectDTO">
<part name="parameters" element="tns:updateSubjectDTO"/>
</message>
<message name="updateSubjectDTOResponse">
<part name="parameters" element="tns:updateSubjectDTOResponse"/>
</message>
<message name="updateMark">
<part name="parameters" element="tns:updateMark"/>
</message>
<message name="updateMarkResponse">
<part name="parameters" element="tns:updateMarkResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="updateMarkDTO">
<part name="parameters" element="tns:updateMarkDTO"/>
</message>
<message name="updateMarkDTOResponse">
<part name="parameters" element="tns:updateMarkDTOResponse"/>
</message>
<message name="saveStudent">
<part name="parameters" element="tns:saveStudent"/>
</message>
<message name="saveStudentResponse">
<part name="parameters" element="tns:saveStudentResponse"/>
</message>
<message name="saveStudentDTO">
<part name="parameters" element="tns:saveStudentDTO"/>
</message>
<message name="saveStudentDTOResponse">
<part name="parameters" element="tns:saveStudentDTOResponse"/>
</message>
<message name="saveSubject">
<part name="parameters" element="tns:saveSubject"/>
</message>
<message name="saveSubjectResponse">
<part name="parameters" element="tns:saveSubjectResponse"/>
</message>
<message name="saveSubjectDTO">
<part name="parameters" element="tns:saveSubjectDTO"/>
</message>
<message name="saveSubjectDTOResponse">
<part name="parameters" element="tns:saveSubjectDTOResponse"/>
</message>
<message name="saveMark">
<part name="parameters" element="tns:saveMark"/>
</message>
<message name="saveMarkResponse">
<part name="parameters" element="tns:saveMarkResponse"/>
</message>
<message name="saveMarkDTO">
<part name="parameters" element="tns:saveMarkDTO"/>
</message>
<message name="saveMarkDTOResponse">
<part name="parameters" element="tns:saveMarkDTOResponse"/>
</message>
<message name="getSubjectById">
<part name="parameters" element="tns:getSubjectById"/>
</message>
<message name="getSubjectByIdResponse">
<part name="parameters" element="tns:getSubjectByIdResponse"/>
</message>
<message name="getMarkById">
<part name="parameters" element="tns:getMarkById"/>
</message>
<message name="getMarkByIdResponse">
<part name="parameters" element="tns:getMarkByIdResponse"/>
</message>
<message name="saveStudentDTO2">
<part name="parameters" element="tns:saveStudentDTO2"/>
</message>
<message name="saveStudentDTO2Response">
<part name="parameters" element="tns:saveStudentDTO2Response"/>
</message>
<message name="updateMarkDTO2">
<part name="parameters" element="tns:updateMarkDTO2"/>
</message>
<message name="updateMarkDTO2Response">
<part name="parameters" element="tns:updateMarkDTO2Response"/>
</message>
<message name="saveMarkDTO2">
<part name="parameters" element="tns:saveMarkDTO2"/>
</message>
<message name="saveMarkDTO2Response">
<part name="parameters" element="tns:saveMarkDTO2Response"/>
</message>
<message name="saveSubjectDTO2">
<part name="parameters" element="tns:saveSubjectDTO2"/>
</message>
<message name="saveSubjectDTO2Response">
<part name="parameters" element="tns:saveSubjectDTO2Response"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="getAllMarks">
<part name="parameters" element="tns:getAllMarks"/>
</message>
<message name="getAllMarksResponse">
<part name="parameters" element="tns:getAllMarksResponse"/>
</message>
<message name="getAllSubjects">
<part name="parameters" element="tns:getAllSubjects"/>
</message>
<message name="getAllSubjectsResponse">
<part name="parameters" element="tns:getAllSubjectsResponse"/>
</message>
<message name="getAllMarksSQLStudentAndSubject">
<part name="parameters" element="tns:getAllMarksSQLStudentAndSubject"/>
</message>
<message name="getAllMarksSQLStudentAndSubjectResponse">
<part name="parameters" element="tns:getAllMarksSQLStudentAndSubjectResponse"/>
</message>
<message name="updateStudentDTO2">
<part name="parameters" element="tns:updateStudentDTO2"/>
</message>
<message name="updateStudentDTO2Response">
<part name="parameters" element="tns:updateStudentDTO2Response"/>
</message>
<message name="updateSubjectDTO2">
<part name="parameters" element="tns:updateSubjectDTO2"/>
</message>
<message name="updateSubjectDTO2Response">
<part name="parameters" element="tns:updateSubjectDTO2Response"/>
</message>
<message name="deleteStudentDTO2">
<part name="parameters" element="tns:deleteStudentDTO2"/>
</message>
<message name="deleteStudentDTO2Response">
<part name="parameters" element="tns:deleteStudentDTO2Response"/>
</message>
<message name="deleteSubjectDTO2">
<part name="parameters" element="tns:deleteSubjectDTO2"/>
</message>
<message name="deleteSubjectDTO2Response">
<part name="parameters" element="tns:deleteSubjectDTO2Response"/>
</message>
<message name="getSubjectGroupById">
<part name="parameters" element="tns:getSubjectGroupById"/>
</message>
<message name="getSubjectGroupByIdResponse">
<part name="parameters" element="tns:getSubjectGroupByIdResponse"/>
</message>
<message name="deleteMarkDTO2">
<part name="parameters" element="tns:deleteMarkDTO2"/>
</message>
<message name="deleteMarkDTO2Response">
<part name="parameters" element="tns:deleteMarkDTO2Response"/>
</message>
<message name="getAverageGrade">
<part name="parameters" element="tns:getAverageGrade"/>
</message>
<message name="getAverageGradeResponse">
<part name="parameters" element="tns:getAverageGradeResponse"/>
</message>
<portType name="NewWebService">
<operation name="getAllMarksSQL">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksSQLRequest" message="tns:getAllMarksSQL"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksSQLResponse" message="tns:getAllMarksSQLResponse"/>
</operation>
<operation name="deleteSubject">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectRequest" message="tns:deleteSubject"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectResponse" message="tns:deleteSubjectResponse"/>
</operation>
<operation name="deleteStudentDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentDTORequest" message="tns:deleteStudentDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentDTOResponse" message="tns:deleteStudentDTOResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="deleteSubjectDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectDTORequest" message="tns:deleteSubjectDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectDTOResponse" message="tns:deleteSubjectDTOResponse"/>
</operation>
<operation name="deleteMark">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkRequest" message="tns:deleteMark"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkResponse" message="tns:deleteMarkResponse"/>
</operation>
<operation name="deleteMarkDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkDTORequest" message="tns:deleteMarkDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkDTOResponse" message="tns:deleteMarkDTOResponse"/>
</operation>
<operation name="getStudentById">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getStudentByIdRequest" message="tns:getStudentById"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getStudentByIdResponse" message="tns:getStudentByIdResponse"/>
</operation>
<operation name="updateSubject">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectRequest" message="tns:updateSubject"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectResponse" message="tns:updateSubjectResponse"/>
</operation>
<operation name="updateStudentDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentDTORequest" message="tns:updateStudentDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentDTOResponse" message="tns:updateStudentDTOResponse"/>
</operation>
<operation name="updateSubjectDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectDTORequest" message="tns:updateSubjectDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectDTOResponse" message="tns:updateSubjectDTOResponse"/>
</operation>
<operation name="updateMark">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkRequest" message="tns:updateMark"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkResponse" message="tns:updateMarkResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="updateMarkDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkDTORequest" message="tns:updateMarkDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkDTOResponse" message="tns:updateMarkDTOResponse"/>
</operation>
<operation name="saveStudent">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentRequest" message="tns:saveStudent"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentResponse" message="tns:saveStudentResponse"/>
</operation>
<operation name="saveStudentDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentDTORequest" message="tns:saveStudentDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentDTOResponse" message="tns:saveStudentDTOResponse"/>
</operation>
<operation name="saveSubject">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectRequest" message="tns:saveSubject"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectResponse" message="tns:saveSubjectResponse"/>
</operation>
<operation name="saveSubjectDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectDTORequest" message="tns:saveSubjectDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectDTOResponse" message="tns:saveSubjectDTOResponse"/>
</operation>
<operation name="saveMark">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkRequest" message="tns:saveMark"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkResponse" message="tns:saveMarkResponse"/>
</operation>
<operation name="saveMarkDTO">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkDTORequest" message="tns:saveMarkDTO"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkDTOResponse" message="tns:saveMarkDTOResponse"/>
</operation>
<operation name="getSubjectById">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getSubjectByIdRequest" message="tns:getSubjectById"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getSubjectByIdResponse" message="tns:getSubjectByIdResponse"/>
</operation>
<operation name="getMarkById">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getMarkByIdRequest" message="tns:getMarkById"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getMarkByIdResponse" message="tns:getMarkByIdResponse"/>
</operation>
<operation name="saveStudentDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentDTO2Request" message="tns:saveStudentDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveStudentDTO2Response" message="tns:saveStudentDTO2Response"/>
</operation>
<operation name="updateMarkDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkDTO2Request" message="tns:updateMarkDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateMarkDTO2Response" message="tns:updateMarkDTO2Response"/>
</operation>
<operation name="saveMarkDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkDTO2Request" message="tns:saveMarkDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveMarkDTO2Response" message="tns:saveMarkDTO2Response"/>
</operation>
<operation name="saveSubjectDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectDTO2Request" message="tns:saveSubjectDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/saveSubjectDTO2Response" message="tns:saveSubjectDTO2Response"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="getAllMarks">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksRequest" message="tns:getAllMarks"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksResponse" message="tns:getAllMarksResponse"/>
</operation>
<operation name="getAllSubjects">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAllSubjectsRequest" message="tns:getAllSubjects"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAllSubjectsResponse" message="tns:getAllSubjectsResponse"/>
</operation>
<operation name="getAllMarksSQLStudentAndSubject">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksSQLStudentAndSubjectRequest" message="tns:getAllMarksSQLStudentAndSubject"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAllMarksSQLStudentAndSubjectResponse" message="tns:getAllMarksSQLStudentAndSubjectResponse"/>
</operation>
<operation name="updateStudentDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentDTO2Request" message="tns:updateStudentDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateStudentDTO2Response" message="tns:updateStudentDTO2Response"/>
</operation>
<operation name="updateSubjectDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectDTO2Request" message="tns:updateSubjectDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/updateSubjectDTO2Response" message="tns:updateSubjectDTO2Response"/>
</operation>
<operation name="deleteStudentDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentDTO2Request" message="tns:deleteStudentDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteStudentDTO2Response" message="tns:deleteStudentDTO2Response"/>
</operation>
<operation name="deleteSubjectDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectDTO2Request" message="tns:deleteSubjectDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteSubjectDTO2Response" message="tns:deleteSubjectDTO2Response"/>
</operation>
<operation name="getSubjectGroupById">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getSubjectGroupByIdRequest" message="tns:getSubjectGroupById"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getSubjectGroupByIdResponse" message="tns:getSubjectGroupByIdResponse"/>
</operation>
<operation name="deleteMarkDTO2">
<input wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkDTO2Request" message="tns:deleteMarkDTO2"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/deleteMarkDTO2Response" message="tns:deleteMarkDTO2Response"/>
</operation>
<operation name="getAverageGrade">
<input wsam:Action="http://webservices.gradeservice/NewWebService/getAverageGradeRequest" message="tns:getAverageGrade"/>
<output wsam:Action="http://webservices.gradeservice/NewWebService/getAverageGradeResponse" message="tns:getAverageGradeResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllMarksSQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudentDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSubjectDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMark">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMarkDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubjectDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMark">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMarkDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveStudentDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveSubjectDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveMark">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveMarkDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubjectById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMarkById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveStudentDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMarkDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveMarkDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveSubjectDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMarks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMarksSQLStudentAndSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubjectDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudentDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSubjectDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubjectGroupById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMarkDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAverageGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:17331/NewWebService/NewWebService"/>
</port>
</service>
</definitions>