WSClient/web/WEB-INF/wsdl/localhost_17331/DataRetrivalService/DataRetrivalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.gradeservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.gradeservice/" name="DataRetrivalService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.gradeservice/" schemaLocation="http://localhost:17331/DataRetrivalService/DataRetrivalService?xsd=1"/>
</xsd:schema>
</types>
<message name="getStudentById">
<part name="parameters" element="tns:getStudentById"/>
</message>
<message name="getStudentByIdResponse">
<part name="parameters" element="tns:getStudentByIdResponse"/>
</message>
<message name="getAllSubjectGroups">
<part name="parameters" element="tns:getAllSubjectGroups"/>
</message>
<message name="getAllSubjectGroupsResponse">
<part name="parameters" element="tns:getAllSubjectGroupsResponse"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="getAllMarks">
<part name="parameters" element="tns:getAllMarks"/>
</message>
<message name="getAllMarksResponse">
<part name="parameters" element="tns:getAllMarksResponse"/>
</message>
<message name="getAllSubjects">
<part name="parameters" element="tns:getAllSubjects"/>
</message>
<message name="getAllSubjectsResponse">
<part name="parameters" element="tns:getAllSubjectsResponse"/>
</message>
<portType name="DataRetrivalService">
<operation name="getStudentById">
<input wsam:Action="http://webservices.gradeservice/DataRetrivalService/getStudentByIdRequest" message="tns:getStudentById"/>
<output wsam:Action="http://webservices.gradeservice/DataRetrivalService/getStudentByIdResponse" message="tns:getStudentByIdResponse"/>
</operation>
<operation name="getAllSubjectGroups">
<input wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllSubjectGroupsRequest" message="tns:getAllSubjectGroups"/>
<output wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllSubjectGroupsResponse" message="tns:getAllSubjectGroupsResponse"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="getAllMarks">
<input wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllMarksRequest" message="tns:getAllMarks"/>
<output wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllMarksResponse" message="tns:getAllMarksResponse"/>
</operation>
<operation name="getAllSubjects">
<input wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllSubjectsRequest" message="tns:getAllSubjects"/>
<output wsam:Action="http://webservices.gradeservice/DataRetrivalService/getAllSubjectsResponse" message="tns:getAllSubjectsResponse"/>
</operation>
</portType>
<binding name="DataRetrivalServicePortBinding" type="tns:DataRetrivalService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubjectGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMarks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataRetrivalService">
<port name="DataRetrivalServicePort" binding="tns:DataRetrivalServicePortBinding">
<soap:address location="http://localhost:17331/DataRetrivalService/DataRetrivalService"/>
</port>
</service>
</definitions>