WSClient/web/WEB-INF/wsdl/localhost_17331/DataRetrivalService/DataRetrivalService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.gradeservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.gradeservice/">

<xs:element name="getAllMarks" type="tns:getAllMarks"/>

<xs:element name="getAllMarksResponse" type="tns:getAllMarksResponse"/>

<xs:element name="getAllStudents" type="tns:getAllStudents"/>

<xs:element name="getAllStudentsResponse" type="tns:getAllStudentsResponse"/>

<xs:element name="getAllSubjectGroups" type="tns:getAllSubjectGroups"/>

<xs:element name="getAllSubjectGroupsResponse" type="tns:getAllSubjectGroupsResponse"/>

<xs:element name="getAllSubjects" type="tns:getAllSubjects"/>

<xs:element name="getAllSubjectsResponse" type="tns:getAllSubjectsResponse"/>

<xs:element name="getStudentById" type="tns:getStudentById"/>

<xs:element name="getStudentByIdResponse" type="tns:getStudentByIdResponse"/>

<xs:complexType name="getAllSubjectGroups">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSubjectGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:subjectGroup" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subjectGroup">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="subject" type="tns:subject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="marks" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subjectGroups" type="tns:subjectGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mark">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="mark" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="subject" type="tns:subject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subject">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="marks" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectGroups" type="tns:subjectGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMarks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMarksResponse">
<xs:sequence>
<xs:element name="return" type="tns:mark" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllStudents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStudentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSubjects">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSubjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:subject" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>