WSClient/web/WEB-INF/wsdl/localhost_17331/ModelPersistanceUpdateService/ModelPersistanceUpdateService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.gradeservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.gradeservice/" name="ModelPersistanceUpdateService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.gradeservice/" schemaLocation="http://localhost:17331/ModelPersistanceUpdateService/ModelPersistanceUpdateService?xsd=1"/>
</xsd:schema>
</types>
<message name="getStudentById">
<part name="parameters" element="tns:getStudentById"/>
</message>
<message name="getStudentByIdResponse">
<part name="parameters" element="tns:getStudentByIdResponse"/>
</message>
<message name="updateSubject">
<part name="parameters" element="tns:updateSubject"/>
</message>
<message name="updateSubjectResponse">
<part name="parameters" element="tns:updateSubjectResponse"/>
</message>
<message name="updateStudentDTO">
<part name="parameters" element="tns:updateStudentDTO"/>
</message>
<message name="updateStudentDTOResponse">
<part name="parameters" element="tns:updateStudentDTOResponse"/>
</message>
<message name="updateSubjectDTO">
<part name="parameters" element="tns:updateSubjectDTO"/>
</message>
<message name="updateSubjectDTOResponse">
<part name="parameters" element="tns:updateSubjectDTOResponse"/>
</message>
<message name="updateMark">
<part name="parameters" element="tns:updateMark"/>
</message>
<message name="updateMarkResponse">
<part name="parameters" element="tns:updateMarkResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="updateMarkDTO">
<part name="parameters" element="tns:updateMarkDTO"/>
</message>
<message name="updateMarkDTOResponse">
<part name="parameters" element="tns:updateMarkDTOResponse"/>
</message>
<message name="updateSubjectGroup">
<part name="parameters" element="tns:updateSubjectGroup"/>
</message>
<message name="updateSubjectGroupResponse">
<part name="parameters" element="tns:updateSubjectGroupResponse"/>
</message>
<message name="updateSubjectGroupDTO">
<part name="parameters" element="tns:updateSubjectGroupDTO"/>
</message>
<message name="updateSubjectGroupDTOResponse">
<part name="parameters" element="tns:updateSubjectGroupDTOResponse"/>
</message>
<message name="updateStudentDTO2">
<part name="parameters" element="tns:updateStudentDTO2"/>
</message>
<message name="updateStudentDTO2Response">
<part name="parameters" element="tns:updateStudentDTO2Response"/>
</message>
<portType name="ModelPersistanceUpdateService">
<operation name="getStudentById">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/getStudentByIdRequest" message="tns:getStudentById"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/getStudentByIdResponse" message="tns:getStudentByIdResponse"/>
</operation>
<operation name="updateSubject">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectRequest" message="tns:updateSubject"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectResponse" message="tns:updateSubjectResponse"/>
</operation>
<operation name="updateStudentDTO">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentDTORequest" message="tns:updateStudentDTO"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentDTOResponse" message="tns:updateStudentDTOResponse"/>
</operation>
<operation name="updateSubjectDTO">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectDTORequest" message="tns:updateSubjectDTO"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectDTOResponse" message="tns:updateSubjectDTOResponse"/>
</operation>
<operation name="updateMark">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateMarkRequest" message="tns:updateMark"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateMarkResponse" message="tns:updateMarkResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="updateMarkDTO">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateMarkDTORequest" message="tns:updateMarkDTO"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateMarkDTOResponse" message="tns:updateMarkDTOResponse"/>
</operation>
<operation name="updateSubjectGroup">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectGroupRequest" message="tns:updateSubjectGroup"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectGroupResponse" message="tns:updateSubjectGroupResponse"/>
</operation>
<operation name="updateSubjectGroupDTO">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectGroupDTORequest" message="tns:updateSubjectGroupDTO"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateSubjectGroupDTOResponse" message="tns:updateSubjectGroupDTOResponse"/>
</operation>
<operation name="updateStudentDTO2">
<input wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentDTO2Request" message="tns:updateStudentDTO2"/>
<output wsam:Action="http://webservices.gradeservice/ModelPersistanceUpdateService/updateStudentDTO2Response" message="tns:updateStudentDTO2Response"/>
</operation>
</portType>
<binding name="ModelPersistanceUpdateServicePortBinding" type="tns:ModelPersistanceUpdateService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubjectDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMark">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMarkDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubjectGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubjectGroupDTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentDTO2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModelPersistanceUpdateService">
<port name="ModelPersistanceUpdateServicePort" binding="tns:ModelPersistanceUpdateServicePortBinding">
<soap:address location="http://localhost:17331/ModelPersistanceUpdateService/ModelPersistanceUpdateService"/>
</port>
</service>
</definitions>