WSClient/web/WEB-INF/wsdl/localhost_17331/ModelPersistanceUpdateService/ModelPersistanceUpdateService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.gradeservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.gradeservice/">

<xs:element name="getStudentById" type="tns:getStudentById"/>

<xs:element name="getStudentByIdResponse" type="tns:getStudentByIdResponse"/>

<xs:element name="updateMark" type="tns:updateMark"/>

<xs:element name="updateMarkDTO" type="tns:updateMarkDTO"/>

<xs:element name="updateMarkDTOResponse" type="tns:updateMarkDTOResponse"/>

<xs:element name="updateMarkResponse" type="tns:updateMarkResponse"/>

<xs:element name="updateStudent" type="tns:updateStudent"/>

<xs:element name="updateStudentDTO" type="tns:updateStudentDTO"/>

<xs:element name="updateStudentDTO2" type="tns:updateStudentDTO2"/>

<xs:element name="updateStudentDTO2Response" type="tns:updateStudentDTO2Response"/>

<xs:element name="updateStudentDTOResponse" type="tns:updateStudentDTOResponse"/>

<xs:element name="updateStudentResponse" type="tns:updateStudentResponse"/>

<xs:element name="updateSubject" type="tns:updateSubject"/>

<xs:element name="updateSubjectDTO" type="tns:updateSubjectDTO"/>

<xs:element name="updateSubjectDTOResponse" type="tns:updateSubjectDTOResponse"/>

<xs:element name="updateSubjectGroup" type="tns:updateSubjectGroup"/>

<xs:element name="updateSubjectGroupDTO" type="tns:updateSubjectGroupDTO"/>

<xs:element name="updateSubjectGroupDTOResponse" type="tns:updateSubjectGroupDTOResponse"/>

<xs:element name="updateSubjectGroupResponse" type="tns:updateSubjectGroupResponse"/>

<xs:element name="updateSubjectResponse" type="tns:updateSubjectResponse"/>

<xs:complexType name="updateStudentDTO2">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="marks" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subjectGroups" type="tns:subjectGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mark">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="mark" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="subject" type="tns:subject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subject">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="marks" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectGroups" type="tns:subjectGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subjectGroup">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="subject" type="tns:subject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentDTO2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubject">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentDTO">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentDTOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMark">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectId" type="xs:int"/>
<xs:element name="studentId" type="xs:int"/>
<xs:element name="grade" type="xs:float"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMarkResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectGroupDTO">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectId" type="xs:int"/>
<xs:element name="studentId" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectGroupDTOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectGroup">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectId" type="xs:int"/>
<xs:element name="studentId" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectGroupResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMarkDTO">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="subjectId" type="xs:int"/>
<xs:element name="studentId" type="xs:int"/>
<xs:element name="grade" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMarkDTOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudent">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectDTO">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubjectDTOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>